<div class="flex justify-between items-center">
  <h1><%= @password.url %></h1>

  <div class="flex flex-col">
    <%= link_to "Edit password", edit_password_path %>
    <%= link_to "Back", root_path %>
  </div>
</div>

<h6>Username / Email</h6>
<pre class="mt-0"><code><%= @password.username %></code></pre>
<h6>Password</h6>
<pre class="mt-0"><code><%= @password.password %></code></pre>