<!DOCTYPE html>
<html>
  <head>
    <title>PasswordManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <% if user_signed_in? %>
        Currently signed in as: <%= current_user.email %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </nav>
    <main class="prose mx-auto mt-28 px-5 ">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
